<!-- Full-screen loading text with animated dots -->
<div *ngIf="loading" class="loading-text-container">
  <div class="loading-text">
    Your photos are traveling<span class="dots">.</span
    ><span class="dots">.</span><span class="dots">.</span>
  </div>
</div>

<!-- Photo upload button and file input -->
<div class="upload-photo-button-container">
  <button
    mat-fab
    color="primary"
    (click)="fileInput.click()"
    aria-label="Upload Photo"
    [disabled]="loading"
  >
    <mat-icon>add</mat-icon>
  </button>

  <input
    type="file"
    id="fileInput"
    accept="image/*"
    name="photosUploaded"
    multiple
    (change)="onFileChange($event)"
    #fileInput
    hidden
  />
</div>
