<div class="photo-modal-container">
  <div mat-dialog-actions align="end">
    <button mat-button mat-stroked-button color="primary" (click)="close()">
      X
    </button>
  </div>

  <div mat-dialog-content>
    <h2 class="country-title">{{ data.countryName }}</h2>
    <div *ngIf="data.photos.length > 0; else noPhotos" class="slider">
      <div
        *ngFor="let photo of data.photos; let i = index"
        class="slider__slide"
      >
        <div class="caption">
          <p><strong>Date:</strong> {{ photo.createdAt | date : "medium" }}</p>
        </div>
        <img [src]="photo.image" alt="Photo" class="photo" />
        <div class="description-container">
          <div *ngIf="!isEditing[i]">
            <p
              class="description-text"
              (click)="editDescription(i)"
              [ngClass]="{ 'no-description': !photo.description }"
            >
              {{ photo.description || "No description" }}
            </p>
          </div>
          <div *ngIf="isEditing[i]">
            <textarea
              id="description-{{ i }}"
              [(ngModel)]="photo.description"
              (blur)="saveDescription(photo)"
              (keyup.enter)="saveDescription(photo)"
              [placeholder]="photo.description ? '' : 'Enter description here'"
              rows="4"
              cols="50"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noPhotos>
      <p class="no-photos">No photos here yet 😔 Book a flight!</p>
    </ng-template>
  </div>
</div>
