<div mat-dialog-content>
  <h2>{{ data.countryName }}</h2>
  <div *ngIf="data.photos.length > 0; else noPhotos" class="keen-slider">
    <div *ngFor="let photo of data.photos" class="keen-slider__slide">
      <img [src]="photo.url" alt="Photo" class="photo" />
      <div class="caption">
        <p><strong>Photo ID:</strong> {{ photo.id }}</p>
        <p><strong>Timestamp:</strong> {{ photo.createdAt }}</p>
      </div>
    </div>
  </div>
  <ng-template #noPhotos>
    <p>No photos here yet :( Book a flight!</p>
  </ng-template>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
</div>
