<div id="wrapper">
  <div class="login-container">
    <div class="logo-section">
      <img src="images/logo.png" alt="iTravel Logo" class="logo" />
      <p class="website-name">iTravel</p>
    </div>

    <form (ngSubmit)="onSubmit()" class="login-form">
      <div class="input-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          [(ngModel)]="username"
          name="username"
          required
        />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          required
        />
      </div>
      <button type="submit" class="submit-btn">Login</button>
      <!-- Display error message if login fails -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <p class="create-account-link">
        Don't have an account?
        <a routerLink="/create-account">Create one</a>
      </p>
    </form>
  </div>
</div>
