/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Make the body occupy the full viewport height */
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root,
main {
  display: flex;
  flex-direction: column; /* Ensure vertical stacking */
  height: 100%; /* Each component takes up the full height */
}
